<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset=utf-8>

<title>Geolocation API サンプル</title>
</head>
<body>
<p>あなたの近くの検索結果</p>
<div id="food_map">
<%= @food_map["shop"][0] %>
<%= @message %>
</div>
<div id="error_message"></div>
</body>
</html>