<div class="container">
  <div class="row">
    <div class="col-md-8 food-search-form">
        <h3>近くのワンコイン飯を探しましょう！</h3>
        <div>
          <input type="button" name="search-food" value="近くのご飯を探す" onClick="getFoodInfo()">
        </div>
    </div>
    <div id="error_message"></div>
  </div>
</div>
