<div class="container">
  <div class="row">
    <div class="col-md-8 food-search-form">
        <h3>近くのワンコイン飯を探しましょう！</h3>
        <div>
          <%= form_with url: food_menu_search_path do |form| %>
            <%= form.hidden_field :lat, :value => "" %>
            <%= form.hidden_field :long, :value => "" %>
            <input type="button" name="search-food" value="近くのご飯を探す" onClick="getFoodInfo()">
          <% end %>
        </div>
    </div>
    <div id="error_message"></div>
    <div id="map"></div>
    <script>
       document.getElementById("map").style.display ="block";
       window.onload = getCurrentLocation();
    </script>
  </div>
</div>
